
@import "bootstrap";

.landing{
  .main-page{
    background-image: asset-url("city.jpg");
    height: calc(100vh - 52px);
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 30px;
    color: white;
  }
}
